@import "src/assets/mixins";

.modal_appointment_wrapper {
  @include modal-wrapper;
  .modal_appointment {
    @include modal-body;
    top: 150px;
    .modal_appointment_header {
      @include modal-header;
    }
    .modal_edit_appointment_form {
      font-size: 18px;

      .modal_delete_appointment_input_wrapper {
        display: flex;
        flex-direction: column;
        padding: 24px 30px 50px 40px;

        .modal_edit_appointment_form_input {
          height: 40px;
          padding: 0 0 0 20px;
          margin: 8px 0 18px 0;
          outline: none;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          font-family: inherit;
          font-size: inherit;
        }

        .complaint_input {
          padding: 20px;
          height: 105px;
          resize: none;
        }
      }
    }
    .modal_appointment_text {
      font-size: 24px;
      padding: 30px 44px 35px;
      @media (max-width: 650px) {
        font-size: 20px;
      }
      @media (max-width: 430px) {
        font-size: 18px;
      }
    }
    .modal_appointment_btn_wrapper {
      @include modal-btn;
    }
  }
}
