@import "src/mixins";

.modal_edit_appointment_wrapper {
  @include modal-wrapper;
  .modal_edit_appointment {
    @include modal-body;
    top: 22px;
    .modal_edit_appointment_header {
      @include modal-header;
    }
    .modal_edit_appointment_form {
      font-size: 18px;
      .modal_delete_appointment_input_wrapper {
        display: flex;
        flex-direction: column;
        padding: 24px 30px 50px 40px;
        .modal_edit_appointment_form_input {
          height: 40px;
          padding: 0 0 0 20px;
          margin: 8px 0 18px 0;
          outline: none;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          font-family: inherit;
          font-size: inherit;
        }
        .complaint_input {
          padding: 20px;
          height: 105px;
          resize: none;
        }
      }
      .modal_delete_appointment_btn_wrapper {
        @include modal-btn;
      }
    }
  }
}
